<p id="notice"><%= notice %></p>

<h3>Buildings</h3>

<div class="card">
    <div class="card-body">
       
        <% if flash[:set_product_error] %>
         <%= flash[:set_product_error] %>
    <% end %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.name %></td>
        <td><%= building.address %></td>
        <td><%= building.city %></td>
        <td><%= link_to 'Show', building, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_building_path(building), class: 'btn btn-success' %></td>
        <td><%= link_to 'Destroy', building, class: 'btn btn-success', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
<%= link_to 'New Building', new_building_path, class: 'btn btn-primary' %>


