<p id="notice"><%= notice %></p>

<h3>Building</h3>

<div class="card">
    <div class="card-body">
       
        <% if flash[:set_product_error] %>
         <%= flash[:set_product_error] %>
    <% end %>
<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>

<p>
  <strong>Apartments</strong>
</p>
<p>  
  <% @building.apartments.each do |a| %>
  <%= a.number %>
</p>
<% end %>     

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
