<p id="notice"><%= notice %></p>
<h3>Apartment</h3>

<div class="card">
    <div class="card-body">
       
        <% if flash[:set_product_error] %>
         <%= flash[:set_product_error] %>
    <% end %>
<p>
  <strong>Building:</strong>
  <%= @apartment.building.name%>
</p>

<p>
  <strong>Number:</strong>
  <%= @apartment.number %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
